{% extends "base.html" %} {% block content %}

<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%">
  <span style="font-size: 14px; line-height: 22.4px"
    >Dear {{users[0].display_name}}</span
  >
</p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%">
  <span
    style="
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: #000000;
      white-space-collapse: preserve;
      line-height: 22.4px;
    "
    >We have received a request to reset the password for the account(s)
    associated with your email address.
  </span>
</p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%">
  <span
    style="
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: #000000;
      white-space-collapse: preserve;
      line-height: 22.4px;
    "
    >If you did not request a password reset, please disregard this email.</span
  >
</p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%">
  <span
    style="
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: #000000;
      white-space-collapse: preserve;
      line-height: 22.4px;
    "
    >To reset your password use the link(s) below:</span
  >
</p>
<p style="font-size: 14px; line-height: 160%">
  <span style="font-size: 14px; line-height: 22.4px"
    ><ul>
      {% for user in users %}
      <strong>{{user.username}}</strong>
      -
      <a href="{{password_reset_base_url}}{{user.reset_token}}">
        {{password_reset_base_url}}{{user.reset_token}}</a
      >
      <br />
      {% endfor %}
    </ul></span
  >
</p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%"> </p>

{% endblock content %}
