{% extends "base.html" %} {% block content %}

<p style="font-size: 14px; line-height: 160%">Hi {{welcomeParams.username}},</p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%">
  Welcome to Notify! Now you have created your account, you will now
  be able to setup notifications for your users!
</p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="font-size: 14px; line-height: 160%">
  <strong>What if I need help</strong>
</p>
<p style="font-size: 14px; line-height: 160%"> </p>
<p style="line-height: 160%">
  If you have any feedback, questions or need assistance, please contact our
  friendly team at
  <a rel="noopener" href="mailto:support@msupply.foundation?subject=Notify"
    target="_blank">support@msupply.foundation</a>.
</p>
<p style="font-size: 14px; line-height: 160%"> </p>
{% endblock content %}