[Unit]
AssertPathExists=/opt/universal_codes/universal_codes

[Service]
WorkingDirectory=/opt/universal_codes/
ExecStart=/opt/universal_codes/universal_codes
User=universal_codes
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
Alias=universal_codes
WantedBy=default.target