## For production builds, rename this file as .env.

AUTHENTICATION_SERVICE_URL=https://authentication.msupply.org
AUTHENTICATION_SERVICE_PORT=9990
AUTHENTICATION_SERVICE_REALM=auth/realms/unified-codes
AUTHENTICATION_SERVICE_AUTH=protocol/openid-connect/token
AUTHENTICATION_SERVICE_CLIENT_ID=unified-codes-data
AUTHENTICATION_SERVICE_CLIENT_SECRET=asecretthing
AUTHENTICATION_SERVICE_GRANT_TYPE=password

DATA_SERVICE_URL=https://universal-codes.msupply.org
DATA_SERVICE_PORT=4000
DATA_SERVICE_GRAPHQL=graphql

DGRAPH_SERVICE_URL=http://localhost
DGRAPH_SERVICE_PORT=8080

LEGACY_API_URL=http://localhost
LEGACY_API_PORT=3000

RXNAV_SERVICE_URL=https://rxnav.nlm.nih.gov
RXNAV_SERVICE_PORT=8080
RXNAV_SERVICE_API=REST
