# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
migrations.json
npm-debug.log
yarn-error.log

# typescript
/dist
/tmp
/out-tsc

# env
.env
.local.env

# editors
.idea
.project
.classpath
.c9/
.settings/
.vscode/
*.launch
*.sublime-workspace

# system
.DS_Store
Thumbs.db
